[DEVICE]
Name=FT900
Clock=100000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_NBIoT_FT90x.mbas
File1=Click_NBIoT_config.mbas
File2=Click_NBIoT_types.mbas
File3=Click_NBIoT_timer.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_NBIoT.pld
[Useses]
File0=NBIoT_FT90x
File1=UART
File2=String
File3=easyft90x_v7_FT900
Count=4